{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}


  <h1 class="h_1">Спісок товарів</h1>
  <main class="card">
<div class="product-card-1">
  <h2 class="title">Стиральная машина узкая BEKO</h2>
  <p class="description">Максимальная загрузка белья
6 кг
Тип двигателя
Инверторный
Количество программ
15
Класс энергопотребления
А+++</p>
  <p class="price">14000&</p>
  <p class="id">ID:123456</p>
  <div class="nav">
  <a href="/">Редагувати</a>
</div>
</div>
<br>
<div class="product-card-1">
  <h2 class="title">Холодильник Candy CCT3L517FS</h2>
  <p class="description">Новейшая технология AeroFlow позволяет равномерно распределять холодный воздух на всех уровнях холодильной камеры.</p>
  <p class="price">16000&</p>
  <p class="id">ID:123456</p>
  <div class="nav">
  <a href="/">Редагувати</a>
</div>
</div>
<br>
<div class="product-card-1">
  <h2 class="title">Холодильник BEKO RCSA270K20W</h2>
  <p class="description">Общий объем холодильника
366 л
Тип холодильника
Двухкамерный</p>
  <p class="price">13400&</p>
  <p class="id">ID:123456</p>
  <div class="nav">
  <a href="/">Редагувати</a>
</div>
</div>
<br>
<div class="product-card-1">
  <h2 class="title">Робот-пылесос Roborock S8 Pro Ultra Black</h2>
  <p class="description">Робот-пылесос промывает салфетку автоматически в ходе уборки и по ее завершению, чтобы это не приходилось делать вручную после каждого использования.</p>
  <p class="price">43000&</p>
  <p class="id">ID:123456</p>
  <div class="nav">
  <a href="/">Редагувати</a>
</div>
</div>
<br>
<div class="product-card-1">
  <h2 class="title">Монитор 23.8" Asus VG249Q (90LM05E0-B03170) Adaptive-Sync / G-SYNC Compatible / FreeSync Premium</h2>
  <p class="description">Диагональ дисплея
23.8"
Максимальное разрешение дисплея
1920x1080 (FullHD)
Время реакции матрицы
1ms MPRT / 4ms GtG
Яркость дисплея
250 кд/м²
Тип матрицы
IPS
Контрастность дисплея
1000:1</p>
  <p class="price">6999&</p>
  <p class="id">ID:123456</p>
  <div class="nav">
  <a href="/">Редагувати</a>
</div>
</div>
<br>
<div class="product-card-1">
  <h2 class="title">Мобильный телефон Apple iPhone 15 Pro Max 1TB White Titanium (MU7H3RX/A)</h2>
  <p class="description">Экран (6.7", OLED (Super Retina XDR), 2796x1290) / Apple A17 Pro / основная квадрокамера: 48 Мп + 12 Мп + 12 Мп + 12 Мп, фронтальная камера: 12 Мп / 1 ТБ встроенной памяти / 3G / LTE / 5G / GPS / Nano-SIM / iOS 17</p>
  <p class="price">34000&</p>
  <p class="id">ID:123456</p>
  <div class="nav">
  <a href="/">Редагувати</a>
</div>
</div>
<br>

 <div class="card_2">
<a href="/">Повернутися назад</a>
<br>
<a href="/">видалить
</a>
</div>
</main>
<!-- Добавьте аналогичные блоки для оставшихся товаров -->



{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}